body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 255);
    background-color: beige;
}
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {
    color: rgb(12, 82, 12);
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
a:visited {
    color: hotpink;
}
.bold {
    font-weight: bold;
}
.swag {
    color: rgb(7, 6, 68);
}
.tableau {
    width: 500px;
    height: auto;
}
.backtotop {
    bottom: 10px;
}
