.header-text{
    color:blue;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 255);
    background-color: beige;
}
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {
    color: rgb(12, 82, 12);
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
a:visited {
    color: hotpink;
}
.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}
.underline {
    text-decoration: underline;
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
.justify {
    text-align: justify;
}
.swag {
    color: rgb(7, 6, 68);
}
.home-bg{
    background-image: url("images/thebyulogo.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    
}
iframe {
    height: 350px;
}
.tableau {
    width: 500px;
    height: auto;
}
.backtotop {
    bottom: 10px;
}